{% comment %}

    Term cloud.
    This include adds a word cloud feature based on one more metadata fields. Cloud will work best with multi-value (separated by semicolon ; ) controlled vocab type fields, such as "subject".

    E.G. --> {% include feature/cloud.html fields="subject;creator" min=2 %}

    Options:
    - "fields" = one or more metadata fields to include in the cloud. (required)
    - "min" = minimum number of times a term must appear in metadata to be displayed. Too many terms will increase load time and size of element. (optional, default 1)
    - "stopwords" = words to remove from cloud terms (optional)
    - "shuffle" = if "true" terms will be shuffled in random order (optional, default is alphabetical)
    - "background" = change the background to a different a bootstrap color (primary, secondary, success, danger, warning, info, light, dark)
    - "button" = change the button to a different a bootstrap button option (primary, secondary, success, danger, warning, info, light, dark, outline-primary, outline-secondary, outline-success, outline-danger, outline-warning, outline-info, outline-light, outline-dark)

{%- endcomment -%}
{% assign functionName = "" %}
{% capture functionName %}cloud_feature_{{ include.fields | slugify | replace: "-","_" }}{% endcapture %}
{%- assign cloud-fields = include.fields | split: ";" -%}
<!-- div for cloud feature -->
<div id="{{ functionName }}_div" class="text-center my-4 bg-{{ include.background | default: 'light' }} border rounded p-2"></div>
<script>
    {% if include.shuffle == true %}
    /* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
    function shuffle(array) {
        var m = array.length, t, i;
        while (m) {
        i = Math.floor(Math.random() * m--);
        t = array[m];
        array[m] = array[i];
        array[i] = t;
        }
        return array;
    }
    {% endif %}
    
    /* create cloud from full metadata */
    var {{ functionName }} = function (cb_items) {
        {% unless site.data.theme.browse-child-objects == true %}
        // filter compound objects
        var cb_items = cb_items.filter(item => !item.parentid);
        {% endunless %}
        var raw_terms = [];
        // get cloud fields from metadata
        for (var i = 0; i < cb_items.length; i++) {
            {% for c in cloud-fields %}
            if(cb_items[i][{{ c | jsonify }}]) { raw_terms.push(cb_items[i][{{ c | jsonify }}]); } 
            {% endfor %}
        }
        // split multivalued fields and clean up extra white space
        const re = /\s*;+\s*/;
        var clean_terms = raw_terms.join(";").toLowerCase().split(re);
        // find unique terms
        var unique_terms = clean_terms.filter(function(value, index, self) { return self.indexOf(value) === index; });
        // count unique values and filter based on termsMin
        var terms = [];
        for (var i = 0; i < unique_terms.length; i++) {
            var count = clean_terms.filter(function(t) { return t == unique_terms[i] }).length;
            if (count >= {{ include.min | default: 1 }}) {
                terms.push([unique_terms[i],count]);
            }
        }
        {% if include.stopwords %}/* apply stopwords */
        var stopWords = {{ include.stopwords | downcase | split: ';' | jsonify }};
        terms = terms.filter(function(a) { return stopWords.indexOf(a[0]) < 0;});{% endif %}
        // create cloud
        // get cloud div
        var cloud = document.getElementById("{{ functionName }}_div");
        var i, size;
        var cloud_items = "";
        /* calculate max size */
        var counts = terms.map(function(obj){ return obj[1]; });
        var countMax = counts.reduce(function(a, b) { return Math.max(a, b); });
        {% if page.shuffle == true %}shuffle(terms);{% else %}terms.sort();{% endif %}
        // create each term link
        for (i = 0; i < terms.length; i++) {
            size = Math.round(terms[i][1] * 9 / countMax + 1); 
            cloud_items += '<a class="btn btn-{{ include.button | default: "outline-primary" }} m-2 tagcloud' + size + '" href="{{ "/browse.html" | relative_url }}#' + encodeURIComponent(terms[i][0]) + '" >' + terms[i][0] + '</a>';
        }
        cloud.innerHTML = cloud_items;
    };
    
    // add feature function to includeFunctions array
    includeFunctions.push({{ functionName }});
    
</script>
