{%- assign cloud-fields = include.fields | split: ";" -%}
<script src="{{ '/assets/lib/papaparse.min.js' | relative_url }}"></script>
<script>

/* function to create cloud from full metadata */
function pageInit(items) {
    var raw_terms = [];
    // get cloud fields out
    for (var i = 0; i < items.length; i++) {
        {% for c in cloud-fields %}
        if(items[i][{{ c | jsonify }}]) { raw_terms.push(items[i][{{ c | jsonify }}]); } 
        {% endfor %}
    }
    
    // split multivalued fields and clean up extra white space
    const re = /\s*;+\s*/;
    var clean = raw_terms.join(";").toLowerCase().split(re);

    // count unique values
    var terms = {};
    for (var i = 0; i < clean.length; i++) {
        terms[clean[i]] = 1 + (terms[clean[i]] || 0);
    }
    {% if include.stopwords %}/* apply stopwords */
    var stopWords = {{ include.stopwords | downcase | split: ';' | jsonify }};
    //terms = terms.filter(function(a) { return stopWords.indexOf(a[0]) < 0;});{% endif %}
    /* calculate max size */
    var counts = Object.keys(terms).map(function(key){return terms[key]});
    var countMax = counts.reduce(function(a, b) { return Math.max(a, b); });
    // make cloud
    var cloud = document.getElementById("{{ cloud_id }}");
    function mapSize(x) { return Math.round(x * 9 / countMax + 1); }
    /* create cloud */
    var i, size;
    var a = Object.keys(terms);
    var items = "";
    for (i = 0; i < a.length; i++) {
        size = mapSize(terms[a[i]]);
        items += '<div class="btn btn-outline-primary m-2 tagcloud' + size + '">' + a[i] + '</div>';
    }
    cloud.innerHTML = items;
};

{% include js/cb-items.js %}

</script>