{%- assign fields = site.data.config-metadata -%}
{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
<script>
/* function to display item */
function displayItem(record, prev_id, next_id) {

    /* add item title */
    var objectTitle = record.title;
    document.getElementById("bc-title").innerHTML = objectTitle;
    document.getElementById("item-title").innerHTML = objectTitle;
    /* add object */ 
    var format = "" + record.format;
    if(record.filename) { 
        if (record.filename.includes("/")) { 
            var objectSrc = record.filename; 
        } else { 
            var objectSrc = "{{ '/objects/' | relative_url }}" + record.filename; 
        }
    }
    var itemImage, itemLink;

    if (format.includes('image')) {
        itemImage= '<div class="spotlight gallery-img" data-download="true" data-src="' + objectSrc + '"><img class="img-fluid" src="' + objectSrc + '" alt="' + objectTitle + '"><p><small>Click to view full screen</small></p></div>';
        itemLink= '<a href="' + objectSrc + '" target="_blank" class="m-2 btn btn-dark" title="Object download">Download Image</a>';
    } else if (format.includes('pdf')) {
        itemImage= '<object aria-label="' + objectTitle + '" data="' + objectSrc + '" type="application/pdf" width="100%" height="450px"><p>The PDF is not rendering in your browser. Please use the button below to download the PDF.</p></object>';
        itemLink= '<a href="' + objectSrc + '" target="_blank" class="m-2 btn btn-dark" title="Object download">Download PDF</a>';
    } else if (format.includes('audio')) {
        itemImage= '<audio controls class="w-100"><source src="' + objectSrc + '">Your browser does not support the audio element.</audio>';
        itemLink= '<a href="' + objectSrc + '" target="_blank" class="m-2 btn btn-dark" title="Object download">Download Audio File</a>';
    } else if (record.youtubeid) {
        itemImage= '<div class="ratio ratio-16x9"><iframe title="' + objectTitle + '" src="https://www.youtube-nocookie.com/embed/' + record.youtubeid + '?rel=0&modestbranding=1" allowfullscreen></iframe></div>';
        itemLink= '<a href="https://youtu.be/' + record.youtubeid + '" target="_blank" class="m-2 btn btn-dark" title="Object download">View on YouTube</a>';
    } else if (record.vimeoid) {
        itemImage= '<div class="ratio ratio-16x9"><iframe title="' + objectTitle + '" src="https://player.vimeo.com/video/' + record.vimeoid + '" allowfullscreen></iframe></div>';
        itemLink= '<a href="https://vimeo.com/' + record.vimeoid + '" target="_blank" class="m-2 btn btn-dark" title="Object download">View on Vimeo</a>';
    } else if (format.includes('video')) {
        itemImage= '<video controls class="w-100"><source src="' + objectSrc + '">Your browser does not support the video element.</audio>';
        itemLink= '<a href="' + objectSrc + '" target="_blank" class="m-2 btn btn-dark" title="Object download">Download Video File</a>';
    } else {
        /* fall back to no preview if it doesn't know the format */
        itemImage= '<img class="w-50" src="{{ "/assets/lib/icons/file-earmark.svg" | relative_url }}" alt="No preview found">';
        itemLink= '<a href="' + objectSrc + '" target="_blank" class="m-2 btn btn-dark" title="Object download">Download Object</a>';
    }

    {% if stubs contains "timeline" %}
    /* add link to view on timeline */
    if (record.date) {
        var itemYear;
        if (record.date.includes('-')) {
            itemYear = record.date.split('-')[0];
        } else if (record.date.includes('/')) {
            itemYear = record.date.split('/').pop();
        } else {
            itemYear = record.date;
        }
        itemLink += '<a href="{{ "/timeline.html" | relative_url }}#y' + itemYear + '" class="m-2 btn btn-outline-dark">View on Timeline</a>';
    }
    {%- endif -%}
    {% if stubs contains "map" %}
    /* add link to view on map */ 
    if (record.latitude && record.longitude) {
        itemLink += '<a href="{{ '/map.html' | relative_url }}#' + record.latitude + ',' + record.longitude + '" class="m-2 btn btn-outline-dark">View on Map</a>';
    }
    {%- endif -%}

    /* add content to item display area */
    document.getElementById("item-image").innerHTML = itemImage;
    document.getElementById("item-link").innerHTML = itemLink;
    
    /* add item metadata */
    var fields = '<dl>';
    {% for f in fields %}{% if f.browse_link == "true" %}
    if (record[{{ f.field | jsonify }}]) {
        var topics = record[{{ f.field | jsonify }}].split(';');
        var browseLinks = "";
        for (var i = 0, len = topics.length; i < len; i++) {
            if (topics[i] != "") {
                browseLinks += '<a class="btn btn-link" href="{{ '/browse.html' | relative_url }}#' + encodeURIComponent(topics[i].trim()) + '">' + topics[i].trim() + '</a> ';
            }
        }
        fields += '<dt class="field">{{ f.display_name }}:</dt> <dd class="field-value">' + browseLinks + '</dd>';
    }
    {%- else -%}
    if (record[{{ f.field | jsonify }}]) { fields += '<dt class="field">{{ f.display_name }}:</dt> <dd class="field-value">{% if f.external_link == "true" %}<a href="' + record[{{ f.field | jsonify }}] + '" target="_blank">' + record[{{ f.field | jsonify }}] + '</a>{% else %}' + record[{{ f.field | jsonify }}] + '{% endif %}</dd>'; }
    {% endif %}{% endfor %}
    fields += '</dl>';
    document.getElementById("item-metadata").innerHTML = fields;

    {% if site.data.theme.browse-buttons == true %}
    if (prev_id) {
        /* add prev/next nav */
        var backUrl = "{{ '/item.html?id=' | relative_url }}" + prev_id;
        var forwardUrl = "{{ '/item.html?id=' | relative_url }}" + next_id;
        /* add side buttons to page */
        document.getElementById("back-button").href = backUrl;
        document.getElementById("next-button").href = forwardUrl;
        /* add bottom buttons to page */
        document.getElementById("prev-button").href = backUrl;
        document.getElementById("for-button").href = forwardUrl;

        /* add back forward key press */
        document.onkeydown = function(evt) {
        evt = evt || window.event;
        switch (evt.keyCode) {
            case 37:
            location.href = backUrl;
                break;
            case 39:
            location.href = forwardUrl;
                break;
        }};
    }
    {%- endif -%}
}

/* function to init page after loading cb_items */
var itemPageInit = function (cb_items) {

    /* get objectid from URL */
    let url = new URL(window.location);
    var itemId = url.searchParams.get('id');
    /* find related item by objectid */
    var record_index = cb_items.findIndex(item => item.objectid == itemId); 

    // display if item exists
    if (record_index != -1) {
        {% if site.data.theme.browse-buttons == true %}
        // find next and previous record
        var last = cb_items.length - 1;
        var prev_id, next_id;
        if (record_index === 0) {
            prev_id = cb_items[last].objectid;
        } else { 
            prev_id = cb_items[record_index - 1].objectid;
        }
        if (record_index === last) {
            next_id = cb_items[0].objectid;
        } else {
            next_id = cb_items[record_index + 1].objectid;
        }{% endif %}
        displayItem(cb_items[record_index], prev_id, next_id);
    } else {
        /* no item with that ID */
        document.getElementById("bc-title").innerHTML = 'Not found?';
        document.getElementById("item-title").innerHTML = 'Sorry, item not found. Please visit <a href="{{ "/browse.html" | relative_url }}">Browse page</a> to find an item.';
    }
    /* all done, so hide loading animation */
    document.getElementById("loading").style.display = "none";
}

// add feature function to includeFunctions array
includeFunctions.push(itemPageInit);

</script>
