{% if site.development-mode == true %}{% include setup-modal.html %}{% endif %}
<script src="{{ '/assets/lib/papaparse.min.js' | relative_url }}"></script>
<script>

/* set up the pageInit function that will run all item features and feature includes */ 
function pageInit(items) {
    // check for include functions on page
    if(includeFunctions) { 
        // iterate over functions and init
        for (var i = 0; i < includeFunctions.length; ++i) {
            try { 
                includeFunctions[i](items);
            } catch (error) {
                console.log("Issue with include function: " + includeFunctions[i].name); 
                console.error(error);
            }
        }
    }
}

/* function to retrieve metadata, parse, add to sessionStorage, and init page */ 
function cbGetMetadata(metadata_url) {
    /* add loading icon while getting csv */ 
    var loadingIcon = document.createElement("div");
    loadingIcon.classList.add("text-center", "p-4");
    loadingIcon.innerHTML = '<strong>Loading...</strong> <div class="spinner-border text-dark" role="status"></div>';
    document.querySelector("main").prepend(loadingIcon);
    /* use papaparse to get metadata from configured CSV URL, then init page */
    Papa.parse(metadata_url, {
        download: true,
        header: true,
        complete: (results) => { 
            cb_items = results.data.filter(item => item["objectid"]);
            sessionStorage.setItem("cb_items_store", JSON.stringify(cb_items));
            pageInit(cb_items);
            loadingIcon.classList.add('d-none');
        },
        error: (err) => {
            console.log("There is an error parsing your CSV! Please check the configured URL or file. The most common issue is incorrect filename, path, or URL so that your CSV is not found.");
        }
    });
}

/* function used by set up modal to set metadata */ 
function cbMetadataSelector(metadata_url) { 
    // record in session store
    sessionStorage.setItem("cb_metadata_set", metadata_url);
    // remove old session store
    sessionStorage.removeItem("cb_items_store");
    // give url to papa parse
    cbGetMetadata(metadata_url);
    // redirect to home
    window.location.href = "{{ '/' | relative_url }}";
}
{% if site.development-mode == true %}
/* function used by dev buttons to reload metadata */
function refreshMetadata () {
    // remove metadata
    sessionStorage.removeItem("cb_items_store");
    // reload
    location.reload();
}
function resetMetadata () {
    // remove data
    sessionStorage.removeItem("cb_items_store");
    sessionStorage.removeItem("cb_metadata_set");
    // reload
    location.reload();
}
{% endif %}

/* set base variables */
var cb_items = [];
var config_metadata = "{{ site.metadata-csv | relative_url }}";

/* set up the metadata */
{% if site.development-mode == true %}
// check for csv option in url
var queryString = new URLSearchParams(window.location.search);
if (queryString.has('csv') && queryString.get('csv').trim().length > 0) {
    // if url has csv query string, use that as metadata link
    var metadataUrlParam = queryString.get('csv');
    // record in session store
    sessionStorage.setItem("cb_metadata_set", metadataUrlParam);
    // give url to papa parse
    cbGetMetadata(metadataUrlParam);
} else {% endif %} if (sessionStorage.getItem("cb_items_store")) {
    // if items are already in sessionStorage init page
    cb_items = JSON.parse(sessionStorage.getItem("cb_items_store"));
    pageInit(cb_items);
} else if (sessionStorage.getItem("cb_metadata_set") && sessionStorage.getItem("cb_metadata_set").includes("https://")) {
    // if temporary metadata is set
    cbGetMetadata(sessionStorage.getItem("cb_metadata_set"));
} else if (config_metadata != "") { 
    // if metadata is configured but not yet loaded
    cbGetMetadata(config_metadata);
} else {
    // if no CSV is configured, show the setup modal
    const setUpModal = new bootstrap.Modal(document.getElementById('cbSetUpModal')); 
    setUpModal.show();
}

</script>
    