{% assign fcount = site.data.config-table | size %}
{%- assign fields = site.data.config-table | map: 'field' -%}
{% comment %}load DataTables with jquery bundled{% endcomment %}
<script type="text/javascript" language="javascript" src="{{ '/assets/lib/datatables/datatables.min.js' | relative_url }}"></script>
<script>

/* function to init table after loading items */ 
var tablePageInit = function (cb_items) {
    {% unless site.data.theme.data-child-objects == true %}
    // filter compound objects
    var cb_items = cb_items.filter(item => !item.parentid);
    {% endunless %}
    // set up data
    var table_data = [];
    // get configured fields
    for (var i = 0; i < cb_items.length; i++) {
        var itemHref = cb_items[i].parentid ?  "{{ '/item.html' | relative_url | append: '?id=' }}" + cb_items[i].parentid + "#" + cb_items[i].objectid : "{{ '/item.html' | relative_url | append: '?id=' }}" + cb_items[i].objectid;
        var row = [];
        {% for f in fields %}
        if(cb_items[i][{{ f | jsonify }}]) { row.push(cb_items[i][{{ f | jsonify }}]); } else { row.push("n/a"); }
        {% endfor %}
        row.push(itemHref);
        table_data.push(row);
    }
    // init datatables 
    $('#item-table').DataTable( {
        // load data
        data: table_data,
        // defer render to speed up large sets
        "deferRender": true,
        // enable pagination 
        "paging": true,
        "lengthMenu": [[ 25, 50, 100, -1], [ 25, 50, 100, "All"]],
        // add download features
        dom: 'B<"row mt-2"<"col-md-6"l><"col-md-6"f>>t<"row"<"col-md-6"i><"col-md-6"p>>', 
        buttons: [ 'excelHtml5', 'csvHtml5' ],
        // set up the columns from the json
        columns: [ {% for i in (0..fcount) %}{ data: '{{ i }}' }{% unless forloop.last %},{% endunless %}{% endfor %} ],
        columnDefs: [ 
            // turn relative link into absolute
            { "render": function ( data ) { return '{{ site.url }}' + data; },"targets": {{ fcount }} },
            // combine link with first column
            { "render": function ( data, type, row ) { return '<a href="' + row['{{ fcount }}'] +'">'+ data +'</a>'; },"targets": 0 },
            // hide the link column
            { "visible": false,  "targets": [ {{ fcount }} ] }
        ],
        // sort based on the second column
        order: [[ 1, "asc" ]]
    });
}

// add feature function to includeFunctions array
includeFunctions.push(tablePageInit);

</script>
