{% capture functionName %}collection_items_count{% endcapture %}
<a class="card mb-3" href="{{ '/data.html' | relative_url }}">
    <div class="card-body">
        <h5 class="card-title">Collection Items</h5>
        <p class="card-text" id="collection_size"></p>
    </div>
</a>
<script>
    // set up feature
    var {{ functionName }} = function (cb_items) {
        var items_count = cb_items.length();
        document.getElementById("collection_size").innerHtml = cb_items + " objects";
    };

    // add feature function to includeFunctions array
    if(includeFunctions) {
        includeFunctions.push({{ functionName }});
    } else {
        var includeFunctions = [{{ functionName }}];
    }

</script>
